@import 'normolize.scss';
@import 'font-awesome.scss';

@mixin font-exo{
    font-family: 'Exo', sans-serif;
}
@mixin font-exo-th{
    font-family: 'Exo', sans-serif;
    font-weight: 100;
}
@mixin font-exo-r{
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}
@mixin font-exo-r-i{
    font-family: 'Exo', sans-serif;
    font-weight: 400i;
}
@mixin font-exo-m{
    font-family: 'Exo', sans-serif;
    font-weight: 500;
}
@mixin font-lato{
    font-family: 'Lato', sans-serif;
}

// <-- COMMON 

.body{
    @include font-exo-m;
    color: #282828;
}

.section-inner{
    width: 80%;
}

.title{
    margin-top: 10px;
    font-size: 40px;
    .red-points{
        color: #ff6d6d;
    }
}
.subtitle{
    color: #ff6d6d;
    font-size: 16px;
}

.text{
    font-size: 16px;
    line-height: 1.5;
    color: rgba($color: #282828, $alpha: 0.6);
}

//  COMMON -->

.header{
    background: url('../img/header.jpg') no-repeat 50%;
    height: 813px;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner{
        width: 50%;
        .header-title{
            @include font-exo-th;
            font-size: 60px;
        }
        .header-play{
            &-in{
                display: inline-block;
                background-color: #8185a3;
                height: 60px;
                width: 60px;
                border-radius: 50px;
                margin: 40px auto 0 auto;
                i{
                    font-size: 24px;
                    padding: 17px 0 0 5px;
                    color: #fff;
                }
                &:hover{
                    background-color: #fff;
                    border: 2px solid #8185a3;
                    height: 56px;
                    width: 56px;
                    i{
                        color: #8185a3;
                        padding: 15px 0 0 6px;
                    }
                }
            }
        }
        .header-button{
            margin-top: 40px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                @include font-exo-r;
                .button{
                    padding: 19px 51px;
                    background-color: #ff6d6d;
                    border-radius: 4px;
                    display: inline-block;
                    &:hover{
                        color: #ff6d6d;
                        background-color: #fff;
                        border: 2px solid #ff6d6d;
                        padding: 17px 49px;
                    }
                }
            }
        }
        .header-subtitle{
            margin-top: 18px;
            color: rgba($color: #282828, $alpha: 0.6);
        }
    }
}

.platforms-like{
    min-height: 725px;
    display: flex;
    .content{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner{
            width: 60%;
            .text{
                margin-top: 50px;
            }
        }
    }
    .image{
        width: 40%;
        background: url('../img/rectangle.jpg') no-repeat 50% 50%;
        background-size: cover;
    }
}

.section-features{
    min-height: 676px;
    background-color: #f6f5f3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 314px;
        height: 676px;
        background: url('../img/Desktop-left.jpg') no-repeat;
        left: 0;
    }
    &::before{
        content: '';
        position: absolute;
        width: 314px;
        height: 676px;
        background: url('../img/Desktop-right.jpg') no-repeat;
        right: 0;
    }
    .section-inner{
        z-index: 1;
        position: relative;
    }
    .features{
        display: flex;
        justify-content: space-around;
        .feature{
            max-width: 320px;
            &-image{
                margin-top: 80px;
                img{
                    max-height: 65px;
                }
            }
            &-title{
                font-size: 22px;
                margin-top: 20px;
            }
            &-subtitle{
                margin-top: 15px;
            }
        }
    }
}

.new-design{
    display: flex;
    min-height: 551px;
    .image-design{
        width: 50%;
        margin: auto 0;
        img{
            width: 100%;
        }
    }
    .wrapper-design{
        width: 50%;
        margin: auto 0 auto 30px;
        .inner{
            .subtitle{}
            .title{
                width: 60%;
            }
            .text{
                margin-top: 30px;
                width: 70%;
            }
        }
    }
}