@import 'normolize.scss';
@import 'font-awesome.scss';

@mixin font-exo{
    font-family: 'Exo', sans-serif;
}
@mixin font-exo-th{
    font-family: 'Exo', sans-serif;
    font-weight: 100;
}
@mixin font-exo-r{
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}
@mixin font-exo-r-i{
    font-family: 'Exo', sans-serif;
    font-style: italic;
}
@mixin font-exo-m{
    font-family: 'Exo', sans-serif;
    font-weight: 500;
}
@mixin font-lato{
    font-family: 'Lato', sans-serif;
}

// COMMON 

.body{
    @include font-exo-m;
    color: #282828;
}

.section-inner{
    width: 80%;
}

.title{
    margin-top: 10px;
    font-size: 40px;
    line-height: 1;
    .red-points{
        color: #ff6d6d;
    }
}
.subtitle{
    color: #ff6d6d;
    font-size: 16px;
    letter-spacing: 3px;
}

.text{
    font-size: 16px;
    line-height: 1.5;
    color: rgba($color: #282828, $alpha: 0.6);
}

//  COMMON END

.header{
    background: url('../img/header.jpg') no-repeat 50%;
    height: 813px;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner{
        width: 50%;
        .header-title{
            @include font-exo-th;
            font-size: 60px;
        }
        .header-play{
            &-in{
                display: inline-block;
                background-color: #8185a3;
                height: 60px;
                width: 60px;
                border-radius: 50px;
                margin: 40px auto 0 auto;
                i{
                    font-size: 24px;
                    padding: 17px 0 0 5px;
                    color: #fff;
                }
                &:hover{
                    background-color: #fff;
                    border: 2px solid #8185a3;
                    height: 56px;
                    width: 56px;
                    i{
                        color: #8185a3;
                        padding: 15px 0 0 6px;
                    }
                }
            }
        }
        .header-button{
            margin-top: 40px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                @include font-exo-r;
                .button{
                    padding: 19px 51px;
                    background-color: #ff6d6d;
                    border-radius: 4px;
                    display: inline-block;
                    &:hover{
                        color: #ff6d6d;
                        background-color: #fff;
                        border: 2px solid #ff6d6d;
                        padding: 17px 49px;
                    }
                }
            }
        }
        .header-subtitle{
            margin-top: 18px;
            color: rgba($color: #282828, $alpha: 0.6);
        }
    }
    @media (max-width: 1080px){
        &-inner{
            width: 90%;
        }
    }
}

.platforms-like{
    min-height: 725px;
    display: flex;
    .content{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner{
            width: 60%;
            .text{
                margin-top: 50px;
            }
        }
    }
    .image{
        width: 40%;
        background: url('../img/rectangle.jpg') no-repeat 50% 50%;
        background-size: cover;
    }
    @media (max-width: 1080px){
        .content{
            margin-top: 20px;
            .inner{
                width: 90%;
            }
        }
    }
}

.section-features{
    min-height: 676px;
    background-color: #f6f5f3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 314px;
        height: 676px;
        background: url('../img/Desktop-left.jpg') no-repeat;
        left: 0;
    }
    &::before{
        content: '';
        position: absolute;
        width: 314px;
        height: 676px;
        background: url('../img/Desktop-right.jpg') no-repeat;
        right: 0;
    }
    .section-inner{
        z-index: 1;
        position: relative;
        @media (max-width: 600px){
            margin-top: 250px;
        }
    }
    .features{
        display: flex;
        justify-content: space-around;
        .feature{
            max-width: 320px;
            &-image{
                margin-top: 80px;
                img{
                    max-height: 65px;
                }
            }
            &-title{
                font-size: 22px;
                margin-top: 20px;
            }
            &-subtitle{
                margin-top: 15px;
            }
        }
    }
}

.new-design{
    display: flex;
    .image-design{
        width: 50%;
        margin: auto 0;
        img{
            width: 100%;
        }
    }
    .wrapper-design{
        width: 50%;
        margin: auto 0 auto 30px;
        .inner{
            .title{
                width: 60%;
            }
            .text{
                margin-top: 30px;
                width: 70%;
            }
            @media (max-width: 1080px){
                .subtitle{
                    margin-top: 20px;
                }
                .title{
                    width: 95%;
                }
                .text{
                    margin-top: 20px;
                    width: 95%;
                }
            }
        }
    }
}

.section-founders{
    background-color: #000;
    min-height: 648px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url('../img/bg-founder.png') no-repeat 50%;
        background-size: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .section-inner{
        z-index: 1;
        margin: auto 0;
        .founders{
            display: flex;
            .founder{
                width: 33%;
                .image{
                    img{
                        height: 76px;
                    }
                }
                .name{
                    margin-top: 20px;
                    font-size: 22px;
                    color: #fff;
                }
                .prof{
                    margin-top: 10px;
                    font-size: 16px;
                    color: #ff6d6d;
                }
                .founder-text{
                    margin-top: 30px;
                    @include font-exo-r-i;
                    font-size: 16px;
                    color: rgba($color: #fff, $alpha: 0.66);
                    width: 90%;
                }
            }
        }
        .partners{
            margin-top: 70px;
            display: flex;
            justify-content: space-around;
            .partner{
                margin: auto 0;
                img{
                    filter: invert(80%);
                    width: 100%;
                }
            }
        }
    }
    @media (max-width: 600px){
        .section-inner{
            margin-top: 20px;
            width: 95%;
        }
    }
}

.section-one-feature{
    background: #f6f5f3;
    text-align: center;
    .section-inner{
        margin: 0 auto;
        .wrapper{
            min-height: 375px;
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            .text{
                margin-top: 40px;
            }
            @media (max-width: 600px){
                width: 100%;
            }
        }
        .image{
            img{
                max-width: 100%;
            }
        }
    }
}

.section-try-now{
    text-align: center;
    min-height: 468px;
    background: #323969;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section-inner{
        margin: 0 auto;
        @media (max-width: 1080px){
            margin: 20px auto;
        }
        .action{
            text-align: right;
            margin: 35px 65px 0 0;
            display: flex;
            justify-content: right;
            @media (max-width: 1180px){
                margin-right: 0;
            }
            @media (max-width: 1080px){
                justify-content: center;
            }
            .action-text{
                font-size: 16px;
                @include font-exo-r;
            }
        }
        .inputs{
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 1080px){
                flex-direction: column;
            }
            input{
                width: 240px;
                height: 50px;
                background: rgba($color: #fff, $alpha: 0.2);
                border: 1px solid rgba($color: #fff, $alpha: 0.5);
                border-radius: 3px;
                color: #f6f5f3;
                font-size: 16px;
                @include font-exo-r;
                padding-left: 30px;
                @media (max-width: 1080px){
                    margin: 0 auto;
                }
            }
            a{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                @include font-exo-r;
                .button{
                    width: 266px;
                    padding: 18px 2px;
                    background-color: #ff6d6d;
                    border-radius: 3px;
                    display: inline-block;
                    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
                    &:hover{
                        color: #ff6d6d;
                        background-color: #fff;
                        border: 2px solid #ff6d6d;
                        padding: 16px 0;
                    }
                }
            }
        }
        .agree{
            margin-top: 35px;
            color: rgba(255, 255, 255, 0.6);
            a{
                text-decoration: none;
                color: rgba(255, 255, 255, 0.6);
                display: inline-block;
                &:after{
                    display: block;
                    content: '';
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.6);
                    transition: all 0.15s ease-out;
                }
                &:hover:after, &:focus:after{
                    width: 0;
                }
            }
        }
    }
}

.footer{
    min-height: 332px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .rectangle{
        position: absolute;
        right: 0;
        top: 0;
    }
    .footer-inner{
        z-index: 1;
        display: flex;
        margin-left: 10%;
        width: 66%;
        justify-content: space-between;
        .name-menu{
            margin-top: 3px;
            font-size: 22px;
        }
        .Start{
            position: relative;
            .Start-menu{
                @include font-lato;
                font-size: 27px;
                z-index: 1;
                position: relative;
                span{
                    color: #fff;
                }
            }
            &::before{
                position: absolute;
                content: '';
                background: url('../img/logo.png') no-repeat;
                top: -10px;
                right: 0;
                bottom: 0;
                left: 60px;
            }
            .Start-text{
                max-width: 250px;
                line-height: 1.7;
                margin-top: 20px;
                color: rgba(40, 40, 40, 0.56);
            }
        }
        .nav{
            .menu{
                list-style: none;
                @include font-exo-r;
                font-size: 14px;
                line-height: 2.5;
                padding: 0;
                margin-top: 18px;
                a{
                    text-decoration: none;
                    color: rgba(40, 40, 40, 0.66);
                    display: inline-block;
                    &:after{
                        display: block;
                        content: '';
                        height: 1px;
                        width: 0%;
                        background-color: rgba(40, 40, 40, 0.66);
                    }
                    &:hover:after, &:focus:after{
                        width: 100%;
                    }
                }
            }
        }
        .Newsletter{
            .input-button{
                margin-top: 30px;
                display: flex;
                input{
                    width: 185px;
                    height: 50px;
                    border: 1px solid rgba(40, 40, 40, 0.4);
                    border-radius: 3px;
                    background: rgba(40, 40, 40, 0.1);
                    font-size: 16px;
                    padding-left: 30px;
                    position: relative;
                }
                .button-email{
                    position: absolute;
                    right: 22%;
                    background: #ff6d6d;
                    padding: 12px 12px;
                    border-radius: 3px;
                    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
                    i{
                        color: #fff;
                        font-size: 30px;
                    }
                }
            }
            .social{
                margin: 20px 20px;
                i{
                    color: #cbcbcb;
                    font-size: 20px;
                    margin-left: 24px;
                }
            }
        }
    }
    @media (max-width: 1080px){
        .rectangle{
            img{
                height: 100px;
            }
        }
        .footer-inner{
            width: 90%;
            .Newsletter{
                .input-button{
                    .button-email{
                        right: 0;
                    }
                }
            }
        }
    }
    @media (max-width: 730px){
        .footer-inner{
            margin-left: 1%;
            width: 95%;
            .Start{
                .Start-text{
                    max-width: 150px;
                }
            }
        }
    }
    @media (max-width: 610px){
        .footer-inner{
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            .Start{
                margin-left: 90px;
                .Start-text{
                    max-width: 70%;
                    text-align: center;
                }
            }
            .Newsletter{
                text-align: center;
                .input-button{
                    .button-email{
                        right: 20%;
                    }
                }
            }
        }
    }
}